// Colors
$primary-color: #42b883;
$secondary-color: #35495e;

// Breakpoints
$mobile: 768px;
$tablet: 1024px;

// Mixins
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
} 